@import "tailwindcss";

@theme {
    --font-forum: "Forum", serif;
    --color-gold-premium: #C5A059;
    --color-coffee-dark: #3E2723;
    --color-card-bg: #F9F8F3;
    --color-olive-bg: #4A5D3F;
    --color-brown-bg: #2C241E;
    --color-creme-bg: #FFFFF0;
    --color-input-bg: #FDFCF7;

/* NOUVELLE BRIQUE : PALETTE DARK LUXE */
--color-silver-shine: #F8FAFC;    /* Éclat brillant */
--color-silver-text: #E2E8F0;     /* Texte silver doux (remplace le blanc agressif) */
--color-bg-dark: #000000;         /* Noir de jais (Fond de page) */
--color-surface-dark: #121212;    /* Anthracite (Encarts, Cartes, Inputs) */
--color-silver-card: rgba(108, 106, 106, 0.15); /* Bordure métal brossé */
--color-silver-encart: 0 0 20px rgba(255, 255, 255, 0.3);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply transition-colors duration-300 bg-white text-neutral-900;
    }

    .dark body {
        background-color: var(--color-bg-dark) !important;
        color: var(--color-silver-text) !important;
    }

    /* On harmonise les fonds des sections principales */
    .dark header,
    .dark nav,
    .dark main,
    .dark footer {
        background-color: var(--color-bg-dark) !important;
        transition: background-color 0.5s ease;
    }
        .dark h1,
        .dark h2,
        .dark h3,
        .dark p,
        .dark span
        {
            color: var(--color-silver-text) !important;
    }
    .dark span[class*="prix"],
    .dark [class*="price"],
    .dark .text-gold-premium {
        color: var(--color-silver-text) !important;
    }
}
    /* --- LOG/* BOUTON SILVER LUXE */
/* 2. LE BOUTON D'ACTION (Bouton Silver Métal) */

.dark button[class*="checkout"],
.dark button[class*="order"] {
    background: linear-gradient(180deg, #262626 0%, #0D0D0D 100%) !important;
    color: #E2E8F0 !important;
    border: 1px solid #C0C0C0 !important; /* Silver brossé */
    text-transform: uppercase;
    letter-spacing: 0.15em;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.dark select {
    background-color: var(--color-silver-encart )!important;
    color: var(--color-silver-shine) !important;
    border: 1px solid rgba(226, 232, 240, 0.1) !important;
}
.dark #Card,
.dark #Card1 {
    background-color: var(--color-surface-dark) !important;
}

.dark button[type="button"]{
    background-color: var(--color-silver-shine)
}

.dark input#inp,
.dark input#inp1,
.dark input#inp2,
.dark input#inp3,
.dark textarea#inp3 {
    background-color: var( --color-silver-card) !important; /* Ton gris acier pour contraster sur le noir */
    color: var(--color-silver-text)  !important;           /* Ton Silver pour le texte */
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* On cible spécifiquement le span du nombre dans le dark mode */
.dark span#qpl {
    color: #000000 !important; /* Force le noir pur */
    font-weight: bold;
}